
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-10">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Reģistrācija veiksmīga</h2>
                            <p class="text-white-50 mb-5">Uz jūsu adresi ir nosūtīts e-pasta ziņojums ar saiti, kas apstiprina jūsu kontu.</p>

                            <div class="row">
                                <div class="col-md-12 text-center mt-5">
                                    <p class="text-white">Lūdzu, pārbaudiet iesūtni un noklikšķiniet uz apstiprinājuma saites, lai aktivizētu kontu.</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <p class="mb-0">
                                Vai vēlaties <a href="@Url.Action("Login", "Account")" class="text-white-50 fw-bold">Autorizēties</a> ?
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
