@model DistributorModel

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-8">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Pievienot jaunu izplatītāju</h2>
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-outline form-white mb-3">
                                    <input asp-for="Name" class="form-control form-control-md" placeholder="Vārds" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-3">
                                    <input asp-for="Description" class="form-control form-control-md" placeholder="Apraksts" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-3">
                                    <input type="file" id="ImageUpload" name="ImageUpload" class="form-control" accept="image/*" />
                                    <img id="ImagePreview" src="#" alt="Image Preview" style="max-width: 200px; display: none;" />
                                </div>

                                <div class="d-flex justify-content-between">
                                    <input type="submit" value="Pievienot" class="btn btn-outline-light btn-lg px-5" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/imagePreview.js"></script>
}
