html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    color: #ffffff;
    background-color: #4f4f4f; /* dark grey */
    margin-bottom: 60px;
}

.navbar {
    background-color: #ffffff !important; /* white */
}

    .navbar .nav-link {
        color: #000000 !important; /* black */
    }


.badge-custom {
    background-color: #4f4f4f; /* Gray background */
    color: #ffffff; /* white text */
}

b {
    color: black;
}

.card-body {
    padding: 0;
}

.truncate {
    display: block;
    width: 950px; /* Adjust this to your desired width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.biography-text {
    background-color: #f8f9fa; /* Change to the color you want */
    color: #212529; /* Change to the color you want */
    padding: .375rem .75rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pagination-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4f4f4f; /* Replace with your desired background color */
    padding: 10px;
    z-index: 9999;
}

.statistics-row {
    border-bottom: 3px solid #000; /* Black border at the bottom */
    background-color: #eee; /* Lighter gray background */
    padding: 10px;
    margin-bottom: 20px;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-container {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 550px; /* Modify as per your design, but ensure that it is same for all cards */
    background-color: #4f4f4f; /* Or any color you prefer to fill the space around image */
}

    .image-container img {
        object-fit: contain;
        width: 100%; /* Ensures image takes full width of the container */
        height: auto; /* Ensures image height adjusts as per original aspect ratio */
    }

