<!doctype html>
<html lang="en">
<body>
    <main>
        <div class="container py-4">

            <div class="p-5 mb-4 bg-light rounded-3 text-dark">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Multivides ieteikumi, kas sniegti tieši jums</h1>
                    <p class="col-md-8 fs-4">Laipni lūdzam vietnē MedijasSkapis, kas ir kinoentuziastu patvērums. Esam izveidojuši platformu, kas ne tikai sniedz detalizētu statistiku par jūsu skatītajiem medijiem, bet arī kurina personalizētus ieteikumus, vadoties pēc jūsu novērotā. Ienirsim kino piedzīvojumā, kas pielāgots tieši tev.</p>
                    @if (!(User.Identity.IsAuthenticated))
                    {
                        <form asp-controller="Account" asp-action="Login">
                            <button class="btn btn-secondary" type="submit">Autorizēties</button>
                        </form>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Media" asp-action="Index">
                            <button class="btn btn-secondary" type="submit">Sākam!</button>
                        </form>
                    }
                </div>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>Dziļi iedziļinies mediju statistikā</h2>
                        <p>Mūsu vietnē ir daudz detalizētas statistikas par jūsu multivides skatīšanās paradumiem. Uzziniet par saviem 5 skatītākajiem aktieriem, kopējo skatīšanās laiku, 5 skatītākajiem žanriem un daudz ko citu. Jo vairāk zināsi, jo labāka būs tava mediju izvēle.</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Media" asp-action="Watched">
                                <button class="btn btn-secondary" type="submit">Skatītais saraksts</button>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3 text-dark">
                        <h2>Personalizēti ieteikumi</h2>
                        <p>Mēs ticam personalizētai mediju vērošanas pieredzei. Mūsu ieteikumu programma rūpīgi analizē jūsu novēroto vēsturi, lai ieteiktu multividi, kas jums patiks. Tas ir tāpat kā ar personīgo mediju kritiķi jūsu servisā!</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Media" asp-action="Recommendations">
                                <button class="btn btn-secondary" type="submit">Mēdijas rekomnedācijas</button>
                            </form>
                        }
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>
